<ab-panel [schema]="panelSchema">
  <panel-body>
    <ab-form [formSchema]="formSchema"
             (send)="onSend($event)">
    </ab-form>
  </panel-body>
</ab-panel>
<div class="second"
     *ngIf="formKey === 'edit'">
  <ab-panel [schema]="{}">
    <panel-body>
      <ab-tile [schema]="thumbnailSchema"
               (send)="this.showThumbnailModal = true;">
      </ab-tile>
      jeje
    </panel-body>
  </ab-panel>
  <ab-modal title="Miniatura do evento"
            [active]="showThumbnailModal"
            (close)="this.showThumbnailModal = false;">
    <modal-content>
      <input #thumbnailInput
             type="file"
             accept=".jpg, .jpeg, .png"
             multiple="false">
    </modal-content>
    <modal-footer>
      <ab-action [schema]="fileConfirmButton"
                 (action)="uploadThumbnail(this.event)">
      </ab-action>
    </modal-footer>
  </ab-modal>
</div>
<div class="second"
     *ngIf="formKey === 'edit'">
  <ab-panel [schema]="{}">
    <panel-body>
      <ab-tile [schema]="filesSchema"
               (send)="this.showFilesModal = true;">
      </ab-tile>
      <ng-container *ngIf="formKey === 'edit' && event?.files">
        <ab-tile-compact *ngFor="let file of event.files"
                         [image]="file"
                         (clicked)="onDeleteFile(file)">
        </ab-tile-compact>
      </ng-container>
    </panel-body>
  </ab-panel>
  <ab-modal title="Subir arquivos"
            [active]="showFilesModal"
            (close)="this.showFilesModal = false;">
    <modal-content>
      <input #filesInput
             type="file"
             multiple="true">
    </modal-content>
    <modal-footer>
      <ab-action [schema]="fileConfirmButton"
                 (action)="uploadFiles(this.event)">
      </ab-action>
    </modal-footer>
  </ab-modal>
</div>
