.sidebar-responsive {
  height: 100%;
  width: 280px;
  background-color: #fff;
  border-right: 0.05rem solid #e7e9ed;
  margin-top: -30px;
  padding-top: 20px;
  margin-left: -10px;
  padding-left: 40px;
  padding-right: 40px;
  position: fixed !important;
  z-index: 9999;
  overflow: auto;
  display: none;
}

.sidebar-responsive-visible {
  display: block;
}

a:hover {
  text-decoration: none;
}

.icon {
  margin-right: 8px;
}
