/* You can add global styles to this file, and also import other style files */
.empty .icon {
  font-size: 4rem;
}

form {
  padding: 0px !important;
}

.btn:focus, .btn:hover {
  background: rgba(3, 113, 179, 0.05);
}

.form-group button {
  margin-top: 0 !important;
}
