<ab-panel [schema]="{}">
  <panel-body>
    <ab-editor [actionSchema]="schema?.actions"
               [tableData]="bookings"
               [cardSchema]="cardSchema"
               [reportSchema]="schema?.report"
               (rowAction)="onRowAction($event)"
               [cardSchema]="schema?.cardSchema"
               (delete)="onDelete($event)">
    </ab-editor>
  </panel-body>
</ab-panel>
<ab-modal [title]="'Observacións sobre ' + selectedBooking.owner.name"
          [active]="showObservationsModal"
          (close)="showObservationsModal = false"
          *ngIf="selectedBooking">
  <modal-content>
    <p>{{ selectedBooking.observation }}</p>
  </modal-content>
</ab-modal>
