<rh-form [form]="loginForm"
         submitLabel="Log In"
         (submit)="onSubmit()">
  <section name="organizationId-control">
    <label for="organizationId">Organization ID:</label>
    <input formControlName="organizationId"
           type="number" />
  </section>
  <rh-input label="Name"
            [form]="loginForm"
            formControlName="name"
            type="text">
  </rh-input>
  <rh-input label="Email"
            [form]="loginForm"
            formControlName="email"
            type="email">
  </rh-input>
  <rh-input label="Password"
            [form]="loginForm"
            formControlName="password"
            type="password">
  </rh-input>
</rh-form>
{{ loginForm.value | json }}
