<ng-container *ngIf="formTools.getControl(form.group, 'description')">
  <section [formGroup]="form.group">
    <label [for]="control.key"
           class="form-label text-bold">{{ control.label }}:</label>
    <quill-editor [ngClass]="{'is-error': formTools.hasErrorsToShow(form.group,control.key)}"
                  [style]="{height: '250px'}"
                  [modules]="modules"
                  [formControlName]="control.key"></quill-editor>
    <ab-control-error [form]="form"
                      [control]="control">
    </ab-control-error>
  </section>
</ng-container>
