<ab-panel [schema]="{}"
          *ngIf="panelSchema && event">
  <panel-body>
    <ab-tile [schema]="panelSchema"
             (send)="onClick()">
    </ab-tile>
    <div class="container">
      <div class="columns">
        <div class="column col-12">
          <i class="icon icon-message"></i> Estado del evento:
          <ab-pill [text]="event.status"></ab-pill>
        </div>
        <div class="column col-6 col-md-12">
          <i class="icon icon-people"></i>Prazas disponibles:
          <b>{{event?.freeSeats}}</b>.
        </div>
        <div class="column col-6 col-md-12">
          <i class="icon icon-time"></i> Horario de recepción:
          <b> De {{ event?.startTime }} a {{ event?.endTime }}.</b>
        </div>
        <div class="column col-12">
          <i class="icon icon-message"></i> Colaboración económica recomendada:
          <b>{{event?.standardPrice}}€ para visitas y {{event?.reducedPrice}}€ para alumnos do centro.</b>
        </div>
      </div>
      <div class="column col-12">
        <p class="text-gray">Descripción do evento</p>
      </div>
      <div class="column col-12"
           [innerHTML]="event.description"></div>
      <div *ngIf="event.files && event.files.length > 0"
           class="column col-12">
        <p class="text-gray">Archivos adxuntos</p>
        <ng-container *ngFor="let file of event.files">
          <a [href]="file.url"
             target="_blank">
            <i class="icon icon-link"></i>{{ file.name }}</a>
        </ng-container>
      </div>
    </div>
  </panel-body>
</ab-panel>
<ab-modal [title]="'Reservar mesa'"
          [active]="isBookingModalActive"
          (close)="onCloseModal()">
  <modal-content>
    <ab-form [formSchema]="bookingFormSchema"
             (send)="onSubmitBooking($event)"></ab-form>
  </modal-content>
</ab-modal>
<ab-modal [title]="'Reservar mesa'"
          [active]="isRegisterModalActive"
          (close)="onCloseModal()">
  <modal-content>
    <small>Para reservar unha oferta é necesario estar rexistrado na plataforma. Se xa tes conta
      <a routerLink="/login"> inicia sesión aquí.</a> Se non, cubre o seguinte formulario.</small>
    <br>
    <ab-form [formSchema]="registerFormSchema"
             (send)="onSubmitRegister($event)"></ab-form>
  </modal-content>
</ab-modal>
