<ul class="menu">
  <main>
    <li class="menu-item">
      <a
        *ngIf="user"
        routerLink="me"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="icon icon-people mr-5"></i> {{ user.name }}
      </a>
      <a *ngIf="!user" routerLink="login">
        <i class="icon icon-people mr-5"></i> Entrar
      </a>
    </li>
    <li class="divider" [attr.data-content]="title"></li>
    <ng-container *ngFor="let menuLink of menuLinks">
      <li class="menu-item">
        <a
          [routerLink]="menuLink.link"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i [class]="'icon mr-5 ' + menuLink.icon"></i> {{ menuLink.label }}
        </a>
      </li>
    </ng-container>
    <a
      *ngIf="user && user.roles && user.roles.includes('MESTRE')"
      class="btn btn-center"
      routerLink="/me/events/new"
    >
      <i class="icon icon-plus"></i> CREAR OFERTA
    </a>
  </main>
</ul>
