<ng-container *ngIf="schema">
  <ab-panel [schema]="{}">
    <panel-body>
      <ab-editor [actionSchema]="schema.actions"
                 [tableData]="bookings"
                 [cardSchema]="cardSchema"
                 [reportSchema]="schema.report"
                 (rowAction)="onRowAction($event)"
                 [cardSchema]="schema.cardSchema"
                 (delete)="onDelete($event)">
      </ab-editor>
    </panel-body>
  </ab-panel>
  <ab-modal title="Editar reserva"
            [active]="showModal"
            (close)="showModal = false">
    <modal-content>
      <ab-form [formSchema]="schema.editForm"
               (send)="onEdit($event)">
      </ab-form>
    </modal-content>
  </ab-modal>
</ng-container>
