<div *ngIf="schema" class="card">
  <div *ngIf="schema.image" class="card-image">
    <img class="img-responsive" [src]="schema.image">
  </div>
  <div *ngIf="schema.header" class="card-header">
    <ng-container *ngFor="let action of schema.actions">
      <ab-action class="float-right " [schema]="action" (action)="onClick($event)"></ab-action>
    </ng-container>
    <div *ngIf="schema.header.title" class="card-title h5">{{ schema.header.title }}</div>
    <div *ngIf="schema.header.subtitle" class="card-subtitle text-gray">{{ schema.header.subtitle }}</div>
  </div>
  <div *ngIf="data && schema.fields" class="card-body">
    <dl *ngFor="let field of schema.fields">
      <dt class="inline">{{ field.label }} :</dt>
      <dd class="inline ml-5">{{ valueByPath(data,field?.key) }}</dd>
    </dl>
  </div>
</div>
