<header class="navbar">
  <section class="navbar-section">
    <a class="navbar-brand"
       (click)="onNavigateToHome()">{{ organization?.name }}</a>
  </section>
  <section class="navbar-section">
    <div class="input-group input-inline">
      <button class="btn btn-primary input-group-btn"
              (click)="onPrint()">Imprimir</button>
    </div>
  </section>
</header>
<ng-container *ngIf="event">
  <h3>{{ event.name }}</h3>
  <h5>{{ event.date | date }} de {{ event.startTime }} a {{ event.endTime }}</h5>
  <div [innerHTML]="event.description"></div>
  <ul>
    <li>Prazas ocupadas:
      <b>{{ event.capacity - event.freeSeats }} de {{ event.capacity }}</b>
    </li>
  </ul>
</ng-container>
<h3>Reservas</h3>
<div *ngIf="bookings && bookings.length; else: noBookings"
     class="bookings">
  <div *ngFor="let booking of bookings; let i = index"
       class="booking">
    <h5>{{ i + 1 }}. {{ booking.owner.name }} ({{ booking.owner.roles }}) - <i>{{ booking.seats }} prazas</i>
      <br>
      <strong *ngIf="booking.status=='CANCELED'">&nbsp;- CANCELADO</strong>
      <small *ngIf="booking.comments">&nbsp;- {{ booking.comments }}</small>
    </h5>
  </div>
</div>
<ng-template #noBookings>
  <h2>Aínda non hai reservas para este evento</h2>
</ng-template>
