<ng-container *ngIf="schema && booking">
  <ab-panel [schema]="schema.firstPanel">
    <panel-body>
      <div *ngIf="booking"
           class="columns">
        <ng-container *ngFor="let field of schema.fields; let i = index">
          <div class="column col-12 text-center">
            <b class="text-bold"> {{ field.label }}: </b>
            <ng-container [ngSwitch]="field.key">
              <ab-pill *ngSwitchCase="'status'"
                       [text]="booking[field.key]"></ab-pill>
              <span *ngSwitchDefault>{{ booking[field.key] }}</span>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="(booking.status === 'ACTIVE') || (booking.status !== 'ACTIVE' && !booking.rating)">
        <div class="button-group">
          <button *ngIf="booking.status === 'ACTIVE'"
                  class="btn btn-primary"
                  (click)="onShowEditModal()">
            <i class="icon icon-edit"></i>Editar observacións</button>
          <button *ngIf="booking.status === 'ACTIVE'"
                  class="btn btn-primary"
                  (click)="onShowCancelModal()">
            <i class="icon icon-cross"></i>Cancelar reserva</button>
          <button *ngIf="booking.status !== 'ACTIVE' && !booking.rating"
                  class="btn btn-primary"
                  (click)="onShowRateModal()">
            <i class="icon icon-emoji"></i>Valorar reserva</button>
        </div>
      </ng-container>
    </panel-body>
  </ab-panel>
  <div *ngIf="schema && booking.rating"
       class="second-panel">
    <ab-panel [schema]="schema.secondPanel">
      <panel-body>
        <div class="column col-12 text-center">
          <b class="text-bold">Puntuación: </b>
          <span>{{ booking.rating.score }} sobre 5</span>
        </div>
        <div class="column col-12 text-center">
          <b class="text-bold">Comentarios: </b>
          <span>{{ booking.rating.comments }}</span>
        </div>
      </panel-body>
    </ab-panel>
  </div>
  <ab-modal title="Editar reserva"
            [active]="showEditModal"
            (close)="showEditModal = false">
    <modal-content>
      <ab-form [formSchema]="schema.editForm"
               (send)="onEdit($event)">
      </ab-form>
    </modal-content>
  </ab-modal>
  <ab-modal title="Cancelar reserva"
            [active]="showCancelModal"
            (close)="showCancelModal = false">
    <modal-content>
      <ab-card [data]="booking"
               [schema]="cardSchema">
      </ab-card>
    </modal-content>
    <modal-footer>
      <button (click)="showCancelModal = false"
              class="btn btn-link">Non, deixar</button>
      <button (click)="onDelete()"
              class="btn btn-primary">Si, cancelar</button>
    </modal-footer>
  </ab-modal>
  <ab-modal title="Valorar evento"
            [active]="showRateModal"
            (close)="showRateModal = false">
    <modal-content>
      <ab-form [formSchema]="schema.rateForm"
               (send)="onRate($event)">
      </ab-form>
    </modal-content>
  </ab-modal>
</ng-container>