<div class="tile">
  <div class="tile-content">
    <div class="tile-title">
      <span class="label label-default">{{ event.date.toUpperCase() | date:'EEEE dd' }}</span>
      <p class="event-name text-bold">{{event.name}}</p>
    </div>
    <div class="columns"
         *ngIf="event.thumbnail">
      <div class="column col-2 col-sm-12">
        <img [src]="event.thumbnail"
             alt="Miniatura da oferta"
             class="img-responsive">
      </div>
      <div class="column col-10 col-sm-12">
        <div class="column col-12"
             *ngIf="event.freeSeats">
          <i class="icon icon-people"></i> Prazas dispoñibles:
          <b>{{event?.freeSeats}}</b>.
        </div>
        <div class="column col-12"
             *ngIf="!event.freeSeats">
          <b>As prazas están esgotadas</b>
        </div>
        <div class="column col-12">
          <i class="icon icon-time"></i> Hora recepción / Hora de peche:
          <b> De {{ event?.startTime }} a {{ event?.endTime }}.</b>
        </div>
      </div>
    </div>
    <div class="columns"
         *ngIf="!event.thumbnail">
      <div class="column col-12 seats-row"
           *ngIf="event.freeSeats">
        <i class="icon icon-people"></i> Prazas dispoñibles:
        <b>{{event?.freeSeats}}</b>.
      </div>
      <div class="column col-12 seats-row"
           *ngIf="!event.freeSeats">
        <b>As prazas están esgotadas</b>
      </div>
      <div class="column col-12">
        <i class="icon icon-time"></i> Hora recepción / Hora de peche:
        <b> De {{ event?.startTime }} a {{ event?.endTime }}.</b>
      </div>
    </div>
  </div>
  <div class="tile-action">
    <a [ngClass]="{'btn': true, 'btn-primary': true, 'disabled': event.status !== 'ACTIVE' || event.freeSeats === 0}"
       [routerLink]="'events/' + event._id">
      <i class="icon icon-bookmark mr-2"></i>Reservar</a>
  </div>
</div>
