<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let organization of organizations">
      <td>{{organization.name}}</td>
      <td> <span>{{organization.admin?.name}}</span> <button (click)="onAddAdmin(organization)"> Asignar Admin </button> </td>
      <td><span> {{organization.admin?.email}}</span></td>
    </tr>
  </tbody>
</table>

<rh-god-organization-admin [active]="activeModal"
                           [organization]="activeOrganization"
                           (close)="onClose($event)"></rh-god-organization-admin>
