<rh-god-organizations-actions (create)="onCreateOrganization()"></rh-god-organizations-actions>
<rh-god-organizations-list [organizations]="organizations"
                           (setAdmin)="onSetAdmin($event)"></rh-god-organizations-list>
<rh-god-organization-admin [active]="activeSetAdminModal"
                           [organization]="activeOrganization"
                           (close)="onCloseSetAdminModal($event)"></rh-god-organization-admin>
<rh-god-organization-create [active]="activeCreateOrganizationModal"
                            (close)="onCloseCreateOrganizationModal($event)"></rh-god-organization-create>
