<ab-panel [schema]="{}">
  <panel-body>
    <ab-tile [schema]="actionSchema"></ab-tile>
    <form [formGroup]="selectForm">
      <div class="form-group">
        <label class="form-label"
               for="input-example-1">Selecciona un evento para ver sus reservas</label>
        <select class="form-select"
                formControlName="event">
          <option value=""
                  hidden>-- NINGUNO --</option>
          <option *ngFor="let event of events"
                  [value]="event._id">{{ event.name }} - {{ event.date | date }}</option>
        </select>
      </div>
    </form>
  </panel-body>
</ab-panel>
<div class="second-panel">
  <ab-panel [schema]="{}"
            *ngIf="bookings !== undefined">
    <panel-body>
      <ab-editor [actionSchema]="{header: {title: editorTitle, subtitle: 'Lista de reservas do evento'}}"
                 [tableData]="bookings"
                 [cardSchema]="{}"
                 [reportSchema]="reportSchema"
                 (rowAction)="onRowAction($event)"
                 [cardSchema]="schema?.cardSchema">
      </ab-editor>
    </panel-body>
  </ab-panel>
</div>
<form [formGroup]="observationForm"
      (submit)="onAddComment()">
  <ab-modal [title]="'Observacións sobre ' + selectedBooking.owner.name"
            [active]="showCommentsModal"
            (close)="showCommentsModal = false"
            *ngIf="selectedBooking">
    <modal-content>
      <div class="form-group observation-input">
        <label class="form-label">Observacións</label>
        <textarea class="form-input"
                  formControlName="observation"
                  placeholder="Observacións"
                  rows="3"></textarea>
      </div>
    </modal-content>
    <modal-footer>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="observationForm.invalid">Gardar observacións</button>
    </modal-footer>
  </ab-modal>
</form>
