<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Organización</th>
      <th>Administrador</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let organization of organizations">
      <td>{{organization.name}}</td>
      <td>
        <span *ngIf="organization.admin">{{organization.admin.name}} - {{organization.admin.email}}</span>
        <button *ngIf="!organization.admin"
                (click)="onSetAdminClick(organization)"> Asignar Admin </button>
      </td>
    </tr>
  </tbody>
</table>
