.divider {
  margin-bottom: 24px;
}

article:last-of-type {
  margin-bottom: 48px;
}

.panel-footer {
  display: flex;
  justify-content: space-around;
}

.tile-subtitle {
  text-transform: uppercase;
}

.tile-title {
  margin: 0 0 .8rem;
}

.icon-link {
  margin-right: 5px;
}

.files-container {
  display: flex;
  flex-direction: column;
}

.label {
  padding: 2px 5px;
  margin-right: 7px;
}

.separator {
  margin: 8px 0px;
}

.icon {
  margin-right: 5px;
}

.columns {
  margin-top: 0.4rem;
}

.column {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.tile-title {
  display: flex;
  align-items: center;
}

.text-bold {
  margin-bottom: 0;
  margin-left: 7px;
}

.icon-bookmark {
  margin-right: 8px;
}

.timeline-content {
  padding-top: 0px !important;
}
