.divider {
  margin-bottom: 24px;
}

article:last-of-type {
  margin-bottom: 48px;
}

.panel-footer {
  display: flex;
  justify-content: space-around;
}

.tile-subtitle {
  text-transform: uppercase;
}

.tile-title {
  margin: 0.8rem 0 .8rem;
}
