<div *ngIf="schema.events"
     class="timeline">
  <ng-container *ngFor="let event of schema.events">
    <article class="timeline-item">
      <section class="timeline-left">
        <a href="#timeline-example-2"
           class="timeline-icon icon-lg tooltip"
           [attr.data-tooltip]="event.label">
          <i *ngIf="!event.icon"
             class="icon icon-check"></i>
          <i *ngIf="event.icon"
             [class]="'icon ' + event.icon"></i>
        </a>
      </section>
      <section class="timeline-content">
        <div class="tile">
          <div class="tile-content">
            <b class="tile-subtitle">{{event.name}} - {{ event.date | date:'shortDate' }} - {{ event.shift }}</b>
            <p class="tile-title"
               *ngFor="let item of event.items"
               [innerHTML]="item.header.title">
            </p>
            <p>Colaboración económica recomendada: {{ event.standardPrice }} €</p>
            <p>Colaboración económica recomendada (alumnos centro): {{ event.reducedPrice }} €</p>
            <div *ngIf="event.files && event.files.length > 0"
                 class="files-container">
              <ng-container *ngFor="let file of event.files">
                <a [href]="file.url"
                   target="_blank">
                  <i class="icon icon-link"></i>{{ file.name }}</a>
              </ng-container>
            </div>
          </div>
          <div *ngIf="event.action"
               class="tile-action">
            <ab-action class="ml-10 float-right "
                       [schema]="event.action"
                       (action)="onClick($event)"></ab-action>
          </div>
        </div>
      </section>
    </article>
  </ng-container>
  <ab-modal [title]="'Reservar mesa'"
            [active]="isBookingModalActive"
            (close)="onCloseModal()">
    <modal-content>
      <p>Prazas restantes: {{selEvent?.freeSeats}}</p>
      <p>Colaboración económica recomendada: {{selEvent?.standardPrice}} €</p>
      <p>Colaboración económica recomendada (alumnos centro): {{selEvent?.reducedPrice}} €</p>
      <ab-form [formSchema]="bookingformSchema"
               (send)="onSubmitBooking($event)"></ab-form>
    </modal-content>
  </ab-modal>
  <ab-modal [title]="'Reservar mesa'"
            [active]="isRegisterModalActive"
            (close)="onCloseModal()">
    <modal-content>
      <p>Para reservar unha oferta é necesario estar rexistrado na plataforma. No caso de non o estar, crea unha conta cubrindo
        o seguinte formulario. Unha vez confirmado o teu email a reserva farase efectiva.</p>
      <p>Prazas restantes: {{selEvent?.freeSeats}}</p>
      <p>Colaboración económica recomendada: {{selEvent?.standardPrice}} €</p>
      <p>Colaboración económica recomendada (alumnos centro): {{selEvent?.reducedPrice}} €</p>
      <ab-form [formSchema]="registerFormSchema"
               (send)="onSubmitRegister($event)"></ab-form>
    </modal-content>
  </ab-modal>
</div>