<a *ngIf="schema && schema.link"
   [routerLink]="schema.link"
   [ngClass]="getClass(schema.btnType)">
  <i *ngIf="schema.icon"
     [class]="'icon ' + schema.icon"></i>
  <span *ngIf="schema.label"
        [ngClass]="{'ml-10': schema.icon}">{{ schema.label }}</span>
</a>
<button *ngIf="schema && !schema.link"
        (click)="onClick()"
        [ngClass]="{'btn': true, 'disabled': schema.disabled || disabled ? true : false}"
        [class]="btnClass">
  <i *ngIf="schema.icon"
     [class]="'icon ' + schema.icon"></i>
  <span *ngIf="schema.label"
        [ngClass]="{'ml-10': schema.icon}">{{ schema.label }}</span>
</button>
