<rh-modal title="New Organization"
          [active]="active"
          (close)="onClose()">
  <modal-content>
    <rh-form [formGroup]="form"
             submitLabel="Guardar Nueva Organización"
             (send)="onPostOrganization()">
      <rh-input label="Nombre"
                [formGroup]="form"
                [formControlName]="schemma[0]"
                type="text"></rh-input>
      <rh-input label="Email"
                [formGroup]="form"
                [formControlName]="schemma[1]"
                type="email"></rh-input>
    </rh-form>
  </modal-content>
</rh-modal>
