.navbar {
  height: 60px;
  padding: 5px 0px;
  margin: auto;
}

.avatar {
  background-color: #fff;
  color: #0371b3;
}

.navbar-brand {
  color: #fff;
  text-transform: uppercase;
}

span.navbar-brand {
  margin-left: 5px;
}

.icon {
  margin-right: 5px;
}

.icon-menu, .icon-cross {
  color: #fff;
}

.icon-apps {
  margin-top: -3px;
}

.column {
  padding: 0rem 1rem;
}

a {
  text-decoration: none;
}

.breadcrumb .breadcrumb-item:not(:first-child)::before {
  padding-left: 0.2rem;
  font-size: 17px;
  margin-left: 4px;
}

.breadcrumb .breadcrumb-item:not(:last-child) a {
  color: #fff;
  margin: inherit;
}

.btn-default:hover {
  background: white;
  color: #0371b3;
}
