<header class="navbar">
  <section class="navbar-section">
    <button *ngIf="showResponsive"
            class="btn btn-lg btn-link btn-action show-xl"
            (click)="onHideResponsive()">
      <i class="icon icon-cross"></i>
    </button>
    <button *ngIf="!showResponsive"
            class="btn btn-lg btn-link btn-action show-xl"
            (click)="onShowResponsive()">
      <i class="icon icon-menu"></i>
    </button>
    <ul *ngIf="organization"
        class="breadcrumb hide-xl">
      <li class="breadcrumb-item">
        <span class="navbar-brand">
          <i class="icon icon-apps"></i>
          <a [routerLink]="'org/' + organization?.slug">{{ organization?.name }}</a>
        </span>
      </li>
      <li class="breadcrumb-item">
        <span class="navbar-brand">
          <span>{{ title }}</span>
        </span>
      </li>
    </ul>
    <span *ngIf="organization"
          class="navbar-brand show-xl">
      <span class="navbar-brand mr-10">{{ title }}</span>
    </span>
    <span *ngIf="!organization"
          class="navbar-brand hide-xl">
      <i class="icon icon-apps"></i>
      <span class="navbar-brand mr-10">{{ title }}</span>
    </span>
    <span *ngIf="!organization"
          class="navbar-brand mr-10 show-xl">{{ title }}</span>
  </section>
  <section *ngIf="user"
           class="navbar-section">
    <a routerLink="me">
      <figure class="avatar"
              [attr.data-initial]="user.name?.substring(0,2)"></figure>
    </a>
  </section>
  <section *ngIf="!user"
           class="navbar-section">
    <a routerLink='login'
       class="login-button">
      <i class="icon icon-people"></i> Entrar</a>
  </section>
</header>